doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.main-nav
      ul
        li
          a(href='/') главная
        li
          a(href='/courses') курсы
        if !isAuth
          li
            a(href='/auth') авторизация
        else
          li
            form(action='/api/auth/logout' method='POST')
              button(type='submit') выйти

    block content
